# Ignorar archivos de compilación y dependencias para proyectos de C#
*.dll
*.exe
*.pdb
*.user
*.txt
*.suo
*.cache
*.log
*.zip
*.7z
*.gz
*.csv

# Ignorar archivos generados por Visual Studio
.vs/
/bin/
/obj/

# Ignorar archivos de paquetes NuGet
*.nuget.packages
packages/

# Ignorar archivos de configuración de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos de Node.js
node_modules/
npm-debug.log

# Ignorar archivos de compilación y dependencias para proyectos de JavaScript
/dist/
/node_modules/

# Ignorar archivos de compilación y dependencias para proyectos de CSS
*.css.map

# Ignorar archivos de construcción y directorios para proyectos HTML
.DS_Store
*.swp
Thumbs.db
